{% extends 'base.html.twig' %}

{% block title %}Liste des employées{% endblock %}

{% block body %}
    <table id="team-container">
        <thead>
            <tr>
                <th>Prénom, Nom</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            {{ employee.thumbnail ?? employee.getInitial() }}
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employee.lastname }} {{ employee.firstname }}</strong>
                            <span>{{ employee.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employee.status.value }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path('app_team_edit', {'id': employee.id}) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="{{ path('app_team_delete', {'id': employee.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}
